.cta_bottonsstyle {
    width: 10em;
}

.margin_topp {
    margin-top: 15em;
}

.petPhotoContainer {
    position: relative;
    width: 100%;
}

.petButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: none;
    width: 30px;
    height: 30px;
  }

.petButton:first-child {
    left: 10px;
}

.petButton:last-child {
    right: 10px;
    background-color: rgb(236, 165, 165);
}

.petPhotoContainer:hover .petButton {
    display: block;
  }

.margin_top {
    margin-top: 2em;
}

.see_petreport:hover {
    opacity: 75%;
    transition: 0.5s;
}

.found_case:hover {
    opacity: 75%;
    transition: 0.5s;
}

.delete_case:hover {
    opacity: 75%;
    transition: 0.5s;
}

.petinfo {
    border-color: #f5deb3;
    color: #222;
}

@media screen and (min-width: 768px) {
    .margin_top {
        margin-top: 0;
    }    
    .modal-body {
        display: flex;
        justify-content: space-around;
    }
}