.report {
  background-image: url("../img/report_background.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  overflow: auto;
}

.report_container {
  padding-top: 1em;
  overflow: auto;
}

.pet_form {
  border: 1px solid black;
}

/* pet form styles */
.report_title {
  padding-top: 2em;
}

.grey_color {
  color: gray;
  font-weight: bold;
}

.lastplace {
  width: 100%;
}

.owner_form {
  background-color: hsl(0, 0%, 83%);
  height: 100%;
  border: 1px solid black;
}

.form_style {
  background-color: hsl(0, 0%, 83%);
}

.missing_place {
  width: 14em;
}

.petinfo {
  height: 2em;
  color: white;
  background-color: #006073;
  border: 1px solid black;
}

#preview_photo {
  display: flex;
  align-items: center;
}

.file_attachment {
  width: 100%;
}

.petPhoto {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
  cursor: pointer;
}

.petPhoto:hover {
  opacity: 75%;
  transition: 0.5s;
}

.petpic {
  height: 13em;
  background-color: #666;
  margin: 1em;
}

.petphoto_width {
  width: 100%;
  height: auto;
}

.petpic_container {
  flex-direction: row;
  margin: 2em;
}

.clear_hour {
  background-color: #267888;
  color: white;
  border-color: transparent;
  margin-left: 0.5em;
}

.button_removeimage {
  background-color: transparent;
  border-color: transparent;
  margin-left: -2em;
}

.margin_cb_report {
  margin-left: -0.5em;
  margin-top: -3px;
}

.next_button button {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 3em;
  width: 10em;
}

.color_numHIW {
  color: rgb(0, 98, 117);
}

.modal_background {
  background-color: #bfecee;
}

.logoANDclose {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.hiw_logos {
  width: 5em;
  height: 5em;
}

.alert_logo {
  width: 3.5em;
  height: 3.5em;
}

.modal-header {
  width: 100%;
}

.slogan_founded {
  width: 30em;
  height: 8em;
  opacity: 65%;
}

.close_button {
  width: 2em;
  height: 2em;
}

.modal-report-button {
  background-color: rgb(0, 98, 117);
  color: #fff;
  border: 1px rgb(0, 98, 117);
  height: 3em;
  width: 8em;
}

.title_pageModal {
  width: 12em;
  height: 3em;
  opacity: 65%;
}

.modal-return-button {
  background-color: #00b5bd;
  color: #fff;
  border: 1px solid #00b5bd;
  height: 3em;
  width: 8em;
}

.link {
  color: #006073;
  font-weight: bold;
}

.warning_style {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.report_buttons {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.next_button button:hover {
  color: white;
  background-color: #006073;
  border: 0.1px solid #00b5bd;
  transition: 0.5s;
  text-decoration: none;
}

/* owner form styles */

.owner_info {
  height: 2em;
  color: white;
  background-color: #00b5bd;
  border: 1px solid black;
}

.missing_hour {
  width: 6em;
}

.previewdata {
  color: #267888;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.mySlides img {
  width: 300px;
  height: 200px;
}

@media screen and (min-width: 64em) {
  .petphoto_width {
    width: 50%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .pet_form {
    width: 50%;
  }

  .report_buttons {
    width: 100%;
    flex-direction: row;
  }

  .lastplace_text {
    width: 20em;
  }

  .owner_form {
    width: 50%;
  }

  .report_container {
    display: flex;
    flex-direction: row;
  }
  
  #missing_date {
    width: 100%;
  }
}
