/* shared className */
.height_shared {
  height: 100vh;
}
/* shared className */
.border_radius50 {
  border-radius: 50%;
}

.wallpaper_animalencontrado {
  height: 30em;
  width: 30em;
  background-image: url('../img/loginANDsignup.png');
}

.img_animalencontrado {
  width: 20em;
  height: 10em;
}

.encontrado_title {
  font-family: 'Zootopia JPosters.com.ar';
}

.verdeclaro {
  color: #00b5bd;
  text-shadow: 2px 2px #3f878a;
}

.verdeoscuro {
  color: #267888;
  text-shadow: 2px 2px #174d57;
}

.margin_calltoactions {
  padding-top: 3em;
}

@media screen and (min-width: 32em) {

 
.margin_calltoactions {
  padding-top: 4em;
}

}

.tryagain {
  text-decoration: underline;
  text-align: center;
}

.text_center {
  text-align: center;
}

/* shared className */
.color_tutorialbackground {
  background-color: #00b5bd;
}

/* shared className */
.socialmedia {
  width: 3em;
}

/* shared className */
.socialmedia img {
  max-width: 100%;
}

.navbar {
  width: 100%;
}

  .login {
    width: 2em;
    height: 2em;
    background-color: #006073;
  }

  .loginsignal_text {
    display: flex;
    justify-content: center;
    margin-top: 0.2em;
  }

  .dropdownmenu_logo {
    width: 3em;
  }


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
}

/* (Hidden by Default) */
.dropdown-items {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-items a {
  color: black;
  padding: 12px; 
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-items a:hover {
  color: white;
  background-color: #006073;
  border: 0.1px solid #00b5bd;
  transition: 0.5s;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-items {display: block;}

  .desktop_menuitems {
    padding: 1em;
}

.menu_items a:hover {
  color: white;
  background-color: #006073;
  border: 0.1px solid #00b5bd;
  transition: 0.5s;
  text-decoration: none;
}

.desktop_menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
    display: none;
}

 .home {
  background-color: hsl(0, 0, 75%);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  flex-wrap: wrap;
}

    .dog_running {
      width: 200px;
      height: 150px;
      margin-right: 1.5em;
    }

    .title_home {
      width: 300px;
      height: 80px;
    }

.navbar-brand img {
  width: 2em;
}    

.calltoaction {
  background-image: url(../img/calltoaction_background.jpg);
  background-position: left;
}

    .calltoaction_buttons {
      display: flex;
      flex-direction: column;
    }

    .cta_bottonsstyle {
      background-color: white;
      border: 1px solid black;
      border-radius: 5px;
      height: 3em;
    }

    .cta_bottonsstyle:hover {
      color: #fff;
      background-color: rgb(0, 98, 117);
      border-color: #00b5bd;
      transition: 0.5s;
    }

.bold {
  font-weight: bold;
}

.tutorial {
  background-image: url(../img/maintutorial_background.jpg);
}

.container_tutorialbuttons {  
    flex-direction: column;
  }

  .tutorialimages {
      width: 4em;
      height: 4em;
      margin: 10px;
    }

    .tutorialimages img {
      max-width: 100%;
   }

.tips {
  background-image: url(../img/tips_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    .tipsexample {
      background-color: white;
    }
  
    /* shared className for the 4 steps */
    .size_pettips {
      width: 6em;
      height: 6em;
      margin: 1em;
      margin-top: 0;
    }

    .size_pettips img {
      max-width: 100%;
    }

    
.link_button {
  text-decoration: none;
}

.about {
  background-image: url(../img/about_background.png);
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #f6c0c4;
}

.contact {
  background-image: url(../img/contact_background.jpg);
  background-position: right;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #ffb9de;
}

@media screen and (max-width: 40em) {
  .calltoaction_buttons {
    display: flex;
    align-items: center;
  }
}

/* media query for desktop */
@media screen and (min-width: 40em) {

  .calltoaction {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tutorial {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tip_icons:hover {
    display: none;
  }
    .calltoaction_buttons {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5em;
    }

    .cta_bottonsstyle {
      width: 18em;
    }

    .dropdown {
      display: none;
    }

    .socialmedia:hover {
      width: 3.5em;
      transition: 0.5s;
    }

    .catdogeffect:hover {
      width: 6.8em;
      height: 6.8em;
      transition: 0.5s;
    }

  .container_tutorialbuttons {  
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3em;
  }
  .containerAC {
      display: flex;
  }
}
